<section class="mt-3">
    <div class="container">
        <h2 class="text-center mb-5">Our Courses</h2>
        <!-- <h2 class="text-center mb-5">Upcoming bootcamps</h2> -->
        <!-- <div class="row g-2" *ngFor="let class of classes"> -->
        <div class="row g-2">
            <div class="col">
              <!-- <div class="card" [routerLink]="['/class-detail/', class.id]"> -->
              <div class="card">
                <img src="../../../assets/images/oopCard.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Oops with Core Java</h5>
                  <!-- <h5 class="card-title">{{class.className}}</h5> -->
                  <p class="card-text">OOP in Java is a paradigm based on classes and objects. Core concepts: Class (blueprint for objects), Object (instance of class), Encapsulation (restricting access with access modifiers), Inheritance (reuse through parent-child hierarchy), Polymorphism (method overloading/overriding), and Abstraction (hiding implementation details).</p>
                  <!-- <a href="" class="btn btn-primary">Book now</a> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../../assets/images/web.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Web with Spring</h5>
                  <p class="card-text">Web development with Spring Boot simplifies building Java web apps. It offers embedded servers (Tomcat), auto-configuration, and production-ready features. Use Controllers to handle requests, Thymeleaf or templates for views, and JPA for database interaction. It's ideal for scalable, secure web apps.</p>
                  <!-- <a href="" class="btn btn-primary">Book now</a> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../../assets/images/aws.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cloud computing with AWS</h5>
                  <p class="card-text">Cloud computing with AWS (Amazon Web Services) provides on-demand access to IT resources via the internet. AWS offers scalable, cost-efficient services like EC2 (virtual servers), S3 (storage), RDS (managed databases), Lambda (serverless computing), VPC (networking), CloudFront (CDN), and IAM (security). It's used for web hosting, data storage, AI, machine learning, and more, with high reliability and flexibility.</p>
                  <!-- <a href="" class="btn btn-primary">Book now</a> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../../assets/images/springCard.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Spring Boot microservices</h5>
                  <p class="card-text">Our bootcamp offers hands-on learning and expert guidance, ensuring you're fully prepared for real-world challenges. Gain confidence through practical projects and consistent practice.</p>
                  <!-- <a href="" class="btn btn-primary">Book now</a> -->
                </div>
              </div>
            </div>
        </div>
    </div>
</section>