<section class="mt-3">
    <div class="container">
        <h2 class="text-center mb-5">Our Courses</h2>
        <!-- <h2 class="text-center mb-5">Upcoming bootcamps</h2> -->
        <!-- <div class="row g-2" *ngFor="let class of classes"> -->
        <div class="row g-2">
            <div class="col">
              <!-- <div class="card" [routerLink]="['/class-detail/', class.id]"> -->
              <div class="card">
                <img src="../../../assets/images/oopCard.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Oops with Core Java</h5>
                  <!-- <h5 class="card-title">{{class.className}}</h5>
                  <p class="card-text">{{class.classDescription}}</p> -->
                  <p class="card-text">Learn the fundamental principles of Object-Oriented Programming, including encapsulation, inheritance, polymorphism, and abstraction, using Core Java to build reusable and modular code. You’ll also learn how to use Java interfaces, exceptions, and collections to create well-structured applications and understand design patterns for problem-solving.</p>
                  <a routerLink="/class-detail/1" class="btn btn-primary">Visit now</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../../assets/images/web.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Web with Spring</h5>
                  <p class="card-text">Learn how to build robust and scalable web applications using the Spring Framework, covering Spring MVC, dependency injection, and data access with a focus on clean and maintainable code. The class also explores Spring Security, RESTful APIs, and integration with databases, helping you develop enterprise-grade web applications with ease.</p>
                  <a routerLink="/class-detail/3" class="btn btn-primary">Visit now</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../../assets/images/aws.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cloud computing with AWS</h5>
                  <p class="card-text">Explore cloud computing concepts and AWS services, including EC2, S3, and RDS, to build and deploy scalable, secure, and cost-effective cloud-based applications. You’ll also gain hands-on experience with AWS Lambda, IAM (Identity and Access Management), and monitoring tools to implement automation, security best practices, and efficient cloud operations.</p>
                  <a routerLink="/class-detail/2" class="btn btn-primary">Visit now</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../../assets/images/springCard.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Spring Boot microservices</h5>
                  <p class="card-text">This class focuses on developing microservices using Spring Boot, covering service registration, discovery, fault tolerance, and API gateway configuration. You’ll learn how to implement inter-service communication, distributed tracing, centralized logging, and database partitioning to ensure high availability and reliability.</p>
                  <a href="" class="btn btn-primary">Visit now</a>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>