<div class="bootcamp-banner mb-5">
    <img src="../../../assets/images/bootcamp-bg.png" alt="" />
    <div class="container">
        <div class="row banner-boot">
        <h2 class="text-center">"🎓 Ready to Kickstart Your IT Career? 🚀"</h2>
        <p class="fst-italic text-secondary text-center">
          Are you fresh out of college and looking out for Job application? Do
          you want internship of real project so that the gap after your pass
          out is utilized? Have you developed some projects in spring and Java
          to showcase your talent? Can you work on real time project with some
          guidance and ready to prove yourself? Look No Further, this is one of
          opportunity to work with seasoned professionals and learn in a client
          environment.
        </p>
        </div>
        <br>
        <div class="pricing-container">
            <div class="card pricing-card border-primary">
              <div class="card-header text-primary text-center">
                <h5 class="card-title">Free</h5>
                <h6 class="">$0 / month</h6>
                <button class="btn btn-primary signup-btn">Sign Up</button>
              </div>
              <div class="card-body text-start">
                <p class="card-text">Get started with essential features for free.</p>
                <ul class="list-unstyled">
                  <li><i class="bi bi-check-all text-success"></i> FREE completion certificate</li>
                  <li><i class="bi bi-check-all text-success"></i> Boost your resume with AWS</li>
                  <li><i class="bi bi-check-all text-success"></i> Deploy your Project on AWS</li>
                  <li><i class="bi bi-check-all text-success"></i> Understand Cloud Computing</li>
                  <li><i class="bi bi-check-all text-success"></i> Learn AWS IAM, EC2, DynamoDB, S3</li>
                  <li><i class="bi bi-check-all text-success"></i> Interview Tips</li>
                  <li><i class="bi bi-check-all text-success"></i> Quizzes and feedback</li>
                  <li><i class="bi bi-check-all text-success"></i> Hackathon</li>
                </ul>
              </div>
              <div class="card-footer text-center">
                <button class="btn btn-primary" routerLink="/all-features">Get Started</button>
              </div>
            </div>
            
            <div class="card pricing-card border-primary">
              <div class="card-header bg-primary text-white text-center">
                <h5 class="card-title">Starter</h5>
                <h6 class="text-light">$25 / month</h6>
                <button class="btn btn-light signup-btn">Sign Up</button>
              </div>
              <div class="card-body text-start">
                <p class="card-text">Unlock More: Everything in FREE + Exclusive Perks!</p>
                <ul class="list-unstyled">
                  <li><i class="bi bi-check-all text-success"></i> Advanced AWS concepts</li>
                  <li><i class="bi bi-check-all text-success"></i> Horizontal and vertical Scaling</li>
                  <li><i class="bi bi-check-all text-success"></i> Load balancers in AWS</li>
                  <li><i class="bi bi-check-all text-success"></i> Networking in AWS</li>
                  <li><i class="bi bi-check-all text-success"></i> Security in AWS</li>
                  <li><i class="bi bi-check-all text-success"></i> API gateway in AWS</li>
                  <li><i class="bi bi-check-all text-success"></i> Serverless architecture</li>
                  <li><i class="bi bi-check-all text-success"></i> Messaging system in AWS</li>
                  <li><i class="bi bi-check-all text-success"></i> Event driven architecture</li>
                  <li><i class="bi bi-check-all text-success"></i> Infrastructure as code (IaaC)	</li>
                </ul>
              </div>
              <div class="card-footer text-center">
                <button class="btn btn-primary" routerLink="/all-features">Upgrade Now</button>
              </div>
            </div>
          </div>
    </div>
</div>