.blog-container {
  max-width: 1200px;
  padding: 5rem;
  margin: auto;
  margin-top: -3rem;
}

.blog-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Responsive Styles */
@media (max-width: 991.98px) {
  .blog-container h1 {
    font-size: 1.75rem;
  }
}

@media (max-width: 575.98px) {
  .blog-container {
    padding: 4rem;
  }

  .blog-container h1 {
    font-size: 1.5rem;
  }

  .btn-primary {
    margin-top: 10px;
  }
}
