<div class="blog-container">
    <h1>TechEazy Blogs</h1>
    <hr>
    <div class="container mx-auto p-6 mt-4">
      <div class="row mb-4">
        <div class="col-md-12"> <input
            type="text"
            [(ngModel)]="searchTerm"
            placeholder="Enter keyword..."
            class="form-control"
          />
        </div>
      </div>
      <app-blog-post *ngIf="showPostBlog"></app-blog-post>
      <app-blog-list [blogs]="filteredBlogs"></app-blog-list>
      <div *ngIf="hasNextPage" class="flex justify-center mt-6">
        <button
          (click)="fetchBlogs(cursor)"
          [disabled]="!cursor || loading"
          class="px-4 py-2 bg-blue-500 text-white rounded disabled:opacity-50"
        >
          {{ loading ? 'Loading...' : 'Load More' }}
        </button>
      </div>
      <p *ngIf="error" class="text-center text-red-500 mt-4">{{ error }}</p>
    </div>
</div>
  