<div class="card shadow-sm h-100" *ngIf="data">
  <div class="card-body d-flex flex-column">
    <!-- <h2 class="card-title h5">{{ data.title }}</h2> -->
    <h2 class="card-title h5">
      {{ data.title.slice(0, 50) }}{{ data.title.length > 50 ? "..." : "" }}
    </h2>
    <hr />
    <p class="card-text text-muted flex-grow-1">{{ data.brief }}</p>
    <a
      [href]="'https://blog.techeazyconsulting.com/' + data.slug"
      target="_blank"
      rel="noopener noreferrer"
      class="btn btn-primary mt-auto text-white text-decoration-none"
    >
      Read More →
    </a>
  </div>
</div>
