header {
  background: linear-gradient(to right, #5de0e6 5%, #0061e4);
  height: 18rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

.banner .col-8 {
  padding: 0 3rem;
  width: 100%;
}

.row {
  margin: 0 auto;
}

form {
  background: linear-gradient(#5de0e6, #0061e4);
  position: relative;
  width: fit-content;
  box-shadow: 0 4px 8px #3b3b3b;
  backdrop-filter: blur(5px);
  color: #000000;
  text-align: start;
  padding: 3rem;
}

input,
select {
  background-color: transparent;
}

form h3 {
  text-shadow: 0 0 2px #afa4a4;
  color: black;
}

.course-banner {
  background-color: #d1e3ff;
  background-size: cover;
  background-position: initial;
  background-repeat: no-repeat;
}

.card.rounded-circle {
  background: linear-gradient(to top, rgb(0, 157, 255), aliceblue, white);
}

.card.rounded-circle h6 {
  font-weight: bold;
}

.accordion {
  background-color: #afa4a4;
}

.accordion-header,
.accordion-button:hover {
  background-color: #77adff;
  border: none;
}

.accordion-button:not(.collapsed) {
  background-color: #77adff;
  border: none;
  outline: none;
}
.bg-aqua {
  background-color: rgb(218, 234, 255);
  border-radius: 8px;
}

.info-cards {
  background: url("../../../assets/images/course-box.png");
  background-size: cover;
  background-position: initial;
  background-repeat: no-repeat;
}

.quiz-container {
  background: url("../../../assets/images/quiz-banner.png");
  background-size: cover;
  background-position: initial;
  background-repeat: no-repeat;
  color: aliceblue;
  margin-bottom: 10px;
}

.course-card {
  width: 25rem;
  margin: auto 2rem;
  margin-top: 20px;
}

.course-card .btn-light {
  border: 2px solid #0d6efd;
  color: #0d6efd;
}

.course-card .btn-primary {
  border: 2px solid #0d6efd;
}

.course-card ul li {
  list-style: none;
  line-height: 35px;
}

.course-card ul li i {
  padding-right: 10px;
}

.course-details {
  margin-top: 5%;
  min-height: 25rem;
  height: 100%;
}

.course-details span button {
  background-color: transparent;
  border: none;
  color: #0d6efd;
}

.chapter-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-menu--slider-menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 3.4rem;
  padding: 0.8rem 1.6rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #000000;
  color: #fff;
  transition: all 0.3s ease;
}

.slider-menu--slider-menu-container button {
  outline: none;
  border: none;
}

.lead--lead {
  display: block;
  margin-right: 1.6rem;
  flex: 1;
  min-width: 0;
}

.lead--title {
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  margin-bottom: 0.4rem;
}

.lead--title h5 {
  margin-top: 12px;
}

.lead--info--k4fK9 {
  display: flex;
  line-height: 1.4rem;
}

.course-card img {
  box-shadow: 0 0 5px #333;
}

.course-card .btn-light:hover {
  background-color: #0d6efd;
  color: #fff;
  border: 2px solid #fff;
}

.course-card .btn-primary:hover {
  background-color: #fff;
  color: #0d6efd;
  border: 2px solid #0d6efd;
}

.btn-light {
  color: #0d6efd;
}

.btn-light:hover {
  background-color: #0d6efd;
  color: #fff;
}

.btn-primary:hover {
  background-color: #fff;
  color: #0d6efd;
  border: 2px solid #0d6efd;
}

.courses ul li {
  line-height: 15px;
  cursor: pointer;
}

.courses ul li:hover {
  background-color: #0d6efd;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blinking-text {
  background: linear-gradient(90deg, blue, orange, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: blink 1s infinite;
  font-weight: bold;
}

.blinking-text2 {
  background: linear-gradient(90deg, red, rgb(255, 230, 0), limegreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: blink 1s infinite;
  font-weight: bold;
}

/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column-reverse;
    padding: 1rem;
    background-image: none;
    height: 100%;
  }

  .banner {
    background: linear-gradient(to right, #5de0e6, #0061e4);
    margin-top: 8%;
    border-radius: 6px;
    width: 100%;
  }

  .banner .col-8 {
    padding: 1rem 2rem;
    text-align: justify;
  }

  .container {
    padding: 10px;
  }

  .row {
    display: block;
    text-align: center;
  }

  form {
    backdrop-filter: blur(8px);
    padding: 20px;
    /* margin-top: 30px; */
    width: 100%;
  }

  .col-6 {
    width: 100%;
    margin-bottom: 20px;
  }

  .col-6.d-flex {
    display: block;
    justify-content: center;
    margin-top: -90px;
  }

  .course-banner h3 {
    font-size: 20px;
  }

  .course-banner p {
    font-size: 14px;
  }

  .card.rounded-circle {
    padding: 20px;
  }

  .quiz-container h1 {
    font-size: 24px;
  }

  .quiz-container p {
    font-size: 14px;
  }

  .info-cards .card-body {
    padding: 15px;
  }

  .info-cards h4 {
    font-size: 16px;
  }

  .banner .col-6 {
    width: 100%;
    text-align: justify;
    padding: 0;
    margin: 0;
  }

  .banner h1 {
    text-align: center;
  }

  .course-card {
    width: 70%;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0 0 4px #000000;
  }

  .course-details {
    width: 100%;
    min-height: auto;
  }

  .lead--title h5 {
    font-size: 15px;
    margin-top: 12px;
  }
}

/* Tablet Responsiveness */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 0;
    flex-direction: column-reverse;
    height: 100%;
    background: none;
  }
  .banner {
    background: linear-gradient(to right, #5de0e6, #0061e4);
    border-radius: 6px;
    margin: 0 5%;
    padding: 2rem 0;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  .col-6 {
    width: 48%;
  }

  form {
    padding: 30px;
    /* margin-top: 50px; */
  }

  .course-banner h3 {
    font-size: 24px;
  }

  .course-banner p {
    font-size: 16px;
  }

  .card.rounded-circle {
    padding: 25px;
  }

  .quiz-container h1 {
    font-size: 28px;
  }

  .quiz-container p {
    font-size: 16px;
  }

  .info-cards .card-body {
    padding: 20px;
  }

  .info-cards h4 {
    font-size: 18px;
  }

  .banner p {
    text-align: justify;
  }

  .course-card {
    width: 90%;
    padding: 0;
    margin: 5%;
    box-shadow: 0 0 4px #000000;
  }

  .course-details {
    width: 100%;
    margin-top: 6%;
  }
}

/* Desktop Responsiveness */
@media screen and (min-width: 1025px) {
  .row {
    display: flex;
    justify-content: space-between;
  }

  .col-6 {
    width: 48%;
  }

  form {
    padding: 40px;
    /* margin-top: 50px; */
  }

  .course-banner h3 {
    font-size: 32px;
  }

  .course-banner p {
    font-size: 18px;
  }

  .card.rounded-circle {
    padding: 30px;
  }

  .quiz-container h1 {
    font-size: 36px;
  }

  .quiz-container p {
    font-size: 18px;
  }

  .info-cards .card-body {
    padding: 25px;
  }

  .info-cards h4 {
    font-size: 20px;
  }
}

@media (max-width: 569px) {
  .course-card {
    width: 100%;
  }
}
