<div *ngIf="showSliderMenu" class="slider-menu--slider-menu-container">
  <div class="lead--lead">
    <div class="lead--title">
      <h5>{{ classDetails.className }}</h5>
    </div>
    <div class="lead--info">
      <!-- <span>4.9 ★★★★★ (5,678 ratings)</span> -->
      <span>4.9 ★★★★★ </span>
      <span>• {{classDetails.noOfStudents}} students enrolled</span>
    </div>
  </div>

  <!-- <div>
    <button class="btn btn-light fw-bold" (click)="openFormPopup()">Express Interest</button>
    <a class="btn btn-light fw-bold text-decoration-none text-dark" [href]="env_url.expressInterest_Link " target="_blank">Express Interest</a>
  </div> -->
</div>

<header>
  <div class="banner col-8">
    <div class="col-8" *ngIf="classDetails">
      <h1>{{ classDetails.className }}</h1>
      <p>{{ classDetails.classDescription }}</p>
      <div class="details">
        <span>4.9 ★★★★★</span>
        <span>• {{classDetails.noOfStudents}} students enrolled</span>
      </div>
      <div  *ngIf="classDetails.courseStatus != 'ABOUT TO START' ">
        <a class="btn btn-light text-decoration-none text-primary fw-bold mt-2" [href]="env_url.expressInterest_Link" target="_blank">Express Interest </a>
      </div>
      <!-- <div class="btns d-flex justify-content-between mt-4" *ngIf="classDetails.courseStatus == 'ABOUT TO START'  || 'ONGOING' "> -->
      <!-- <div class="btns d-flex justify-content-between mt-4" *ngIf="classDetails.courseStatus == 'ABOUT TO START' "> -->
      <div class="btns d-flex justify-content-between mt-4" *ngIf="classDetails.courseStatus == 'ABOUT TO START' ">
        <a class="btn btn-light" [href]="classDetails.registrationLink" target="_blank"><span class="blinking-text2">Register -it’s completely FREE</span></a>
        <div>
          <button class="btn btn-light" routerLink="/all-features/fullstack"><span class="btn-link">Not fit for you? see our other offering</span></button>
        </div>
      </div>
    </div>
  </div>

  <div class="card course-card">
    <img src="../../../assets/images/common.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <div *ngIf="classDetails.courseStatus !== 'COMPLETED'">
        <!-- <h6>Buy at {{classDetails.discount}}% off</h6> -->
        <!-- <h4>₹{{classDetails.price}}.00</h4> -->
         <h4 class="blinking-text3">Free</h4>
        <!-- <h4 [ngClass]="classDetails.price === 0 ? 'blinking-text3' : ''">
          {{ classDetails.price === 0 ? 'Free' : '₹' + classDetails.price + '.00' }}
        </h4> -->
      </div>
      
      <button type="submit" class="btn btn-light fw-bold w-100 mb-4 no-hover">{{classDetails.courseStatus}}</button>
      
      <h6 class="card-subtitle mb-2">This course includes: </h6>
      <ul>
        <li class="card-text text-body-secondary"><i class="fa-solid fa-tv"></i><span class="blinking-text">Instructor Led Sessions</span></li>
        <li class="card-text text-body-secondary"><i class="fa-solid fa-users"></i>{{classDetails.noOfStudents}}+ Students Enrolled <span class="blinking-text2" *ngIf="classDetails.courseStatus !== 'COMPLETED'">(Hurry UP)</span></li>
        <li class="card-text text-body-secondary"><i class="fa-solid fa-file-circle-question"></i>{{classDetails.noOfQuizzes}}+ Quizzes</li>
        <li class="card-text text-body-secondary"><i class="fa-brands fa-youtube"></i>Live Classes <span>( Weekend/WeekDays )</span></li>
        <li class="card-text text-body-secondary"><i class="fa-solid fa-repeat"></i>{{convertLocalDateToReadableFormat(classDetails.startDate)}} - {{ convertLocalDateToReadableFormat(classDetails.endDate) }}</li>
        <!-- <li class="card-text text-body-secondary" *ngIf="classDetails.courseStatus == 'ABOUT TO START' || 'ONGOING' "><i class="fa-solid fa-clock"></i>7pm - 8pm (Tue & Fri)</li> -->
        <li class="card-text text-body-secondary"><i class="fa-solid fa-certificate"></i>Certificate of Completion</li>
      </ul>
      <!-- <a class="btn btn-primary w-100 fw-bold" [href]="env_url.free_Registration_Link" target="_blank" *ngIf="classDetails.courseStatus == 'ABOUT TO START' || 'ONGOING' ">Register Now</a> -->
      <!-- <a class="btn btn-primary w-100 fw-bold" [href]="env_url.free_Registration_Link" target="_blank" *ngIf="classDetails.courseStatus == 'ABOUT TO START' ">Register Now</a> -->
      <a class="btn btn-primary w-100 fw-bold" [href]="classDetails.registrationLink" target="_blank" *ngIf="classDetails.isRegistrationOpen">Register Now</a>
    </div>
  </div>
</header>

<app-express-interest></app-express-interest>

<div class="container">
  <!-- <div class="course-content">
    <div class="course-highlights card">
        <h4 class="card-header blinking-text">Course Highlights</h4>
        <div class="card-body">
          <h5 class="card-title">Do you know Spring Boot ?</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <ul>
            <li> List Items </li>
            <li> List Items </li>
            <li> List Items </li>
            <li> List Items </li>
            <li> List Items </li>
          </ul>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="bg-aqua p-4 col-8 course-details">
      <h2 class="text-center mb-4">Course Content</h2>
      <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item" *ngFor="let subject of classDetails.subjectList; let i = index">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"  [attr.data-bs-target]="'#flush-collapse' + i" aria-expanded="false" [attr.aria-controls]="'flush-collapse' + i" (click)="onSubjectClick(subject)">
                {{subject.subjectName}}
              </button>
            </h2>
            <div [id]="'flush-collapse'+i" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="chapters">
                  <div *ngFor="let chapter of subject.chapterList" class="chapter-details pb-3">
                    <h6 class="text-body-secondary">
                      <i class="fa-solid px-2" [ngClass]="chapter?.videoId?.trim() ? 'fa-video' : 'fa-location-arrow'"></i>
                      {{ chapter.chapterName }}
                    </h6>
                    
                    <div class="metadata" *ngIf="chapter?.videoId?.trim()">
                      <span><button (click)="openVideoPopup(chapter.videoId)">Preview</button></span>
                      <span class="px-2">|</span>
                      <span>4.20 min</span>
                    </div>
                  </div>                
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div> -->
  
  <div class="bg-aqua p-4 col-8 course-details">
    <h2 class="text-center mb-5">Course Content</h2>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item" *ngFor="let subject of classDetails.subjectList; let i = index">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"  [attr.data-bs-target]="'#flush-collapse' + i" aria-expanded="false" [attr.aria-controls]="'flush-collapse' + i" (click)="onSubjectClick(subject)">
              {{subject.subjectName}}
            </button>
          </h2>
          <div [id]="'flush-collapse'+i" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="chapters">
                <div *ngFor="let chapter of subject.chapterList" class="chapter-details pb-3">
                  <h6 class="text-body-secondary">
                    <i class="fa-solid px-2" [ngClass]="chapter?.videoId?.trim() ? 'fa-video' : 'fa-location-arrow'"></i>
                    {{ chapter.chapterName }}
                  </h6>
                  
                  <div class="metadata" *ngIf="chapter?.videoId?.trim()">
                    <span><button (click)="openVideoPopup(chapter.videoId)">Preview</button></span>
                    <span class="px-2">|</span>
                    <!-- <span>4.20 min</span> -->
                  </div>
                </div>                
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <app-video-popup></app-video-popup>

  <div class="container py-4 mt-3">
      <h2 class="text-center mb-5">"Tailored Learning Experience Just for You"</h2>
      <div class="row text-center">
        <div class="col-md-4 mb-5">
          <div class="card rounded-circle shadow p-5">
              <h6>Missed a class?</h6>
            <p class="mb-0">Watch the recording later, with teaching assistants available to solve your doubts.</p>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card rounded-circle shadow p-5">
              <h6>Work / family needs time?</h6>
            <p class="mb-0">Pause your course and restart a month later with the next batch!</p>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card rounded-circle shadow p-5">
              <h6>Jobs & class timings clash?</h6>
            <p class="mb-0">Decide your ideal class timing together with your classmates.</p>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card rounded-circle shadow p-5">
              <h6>Want to revise?</h6>
            <p class="mb-0">Access notes lifelong and recordings up to 6 months post course completion.</p>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card rounded-circle shadow p-5">
              <h6>Have doubts?</h6>
            <p class="mb-0">Get them resolved over text/video by our expert teaching assistants!</p>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card rounded-circle shadow p-5">
              <h6>Solve Quizzes</h6>
            <p class="mb-0">Test your knowledge on the topics you learned.</p>
          </div>
        </div>
      </div>
  </div>

  <div class="container mt-3">
      <div class="row g-4">
          <div class="col-md-6">
              <div class="card h-100 shadow info-cards">
                  <div class="card-body">
                      <h4 class="card-title">Know More</h4>
                      <hr>
                      <p class="card-text">Learn how we are transforming IT training with hands-on projects, industry expert instructors, and flexible learning schedules.</p>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">Certified and experienced trainers.</li>
                          <li class="list-group-item">100% placement assistance.</li>
                          <li class="list-group-item">Interactive live sessions and recorded classes.</li>
                      </ul>
                  </div>
              </div>
          </div>
      
          <div class="col-md-6">
              <div class="card h-100 shadow info-cards bg-opacity-75">
                  <div class="card-body courses">
                      <h4 class="card-title">Other Courses</h4>
                      <hr>
                      <!-- <p class="card-text">Explore our wide range of courses designed to meet industry demands.</p> -->
                      <p class="card-text">Explore our wide range of courses comprehensively designed to meet industry demands.</p>
                      <ul class="list-group list-group-flush" *ngFor="let class of classes">
                        <!-- <li class="list-group-item" [routerLink]="['/class-detail', class.id]">{{ class.className }}</li> -->
                        <li class="list-group-item" (click)="goToCourses(class)">{{ class.className }}</li>
                      </ul>
                      <!-- <a href="#" class="btn btn-primary mt-2">View All Courses</a> -->
                  </div>
              </div>
          </div>
      </div>    
  </div>
</div>

<div class="quiz-container mt-5 text-center p-5">
  <h1>Sharpen Your Coding Skills: Take the Quiz</h1>
  <p class="fst-italic">Enhance your learning by taking our engaging quizzes designed to test your knowledge and improve your skills.</p>
  <br>
  <!-- <button class="btn btn-primary w-25 fw-bold">Start now</button> -->
</div>