.scrollable-table {
    max-height: 400px;
    overflow-y: auto;
    display: block;
  }
  
  .small-card {
    width: 100%;
    margin-top: -10px; /* Slight overlap for visual connection */
  }

  .content-type-box {
    background-color: #ffffff;
    border: 1px solid #ddd; /* Fine border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow */
    width: 100%;
  }

  .feature-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    background-color: #cfe2ff;
  }
  
  .ideal-for-content {
    min-height: 110px; 
    /* max-height: 200px; 
    overflow-y: auto;  */
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px;
    padding-left: 15px;
  }

  .table-container {
    display: none;
  }

  table {
    box-shadow: 0 0 4px #333;
  }

  table td {
    font-size: 12px;
    text-align: justify;
  }

  .signup-btn {
    transition: all 0.5s ease;
  }
  
  .signup-btn:hover::after {
    content: ' →';
    /* transition: all 0.3s ease-in-out; */
  }

  @media (max-width: 768px) {
    .container .row {
        gap: 20px;
    }
  }

  @media (max-width: 576px) {
    .container .row {
        gap: 20px;
    }

    .features-container {
        display: none;
    }

    .table-container {
        display: block;
    }

  }